@model Presentation.Models.ViewModels.BookViewModel

@{
    ViewData["Title"] = "Flight Booking";
}

<h1>Booking</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="BookFlight">
            <!-- Displaying the flight details -->
            <div class="flight-details">
                <h3>Flight Details:</h3>
                <p>From: @Model.CountryFrom</p>
                <p>To: @Model.CountryTo</p>
                <p>Departure: @Model.DepartureDate.ToString("MM/dd/yyyy HH:mm")</p>
                <p>Arrival: @Model.ArrivalDate.ToString("MM/dd/yyyy HH:mm")</p>
            </div>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Row" class="control-label"></label>
                <input asp-for="Row" class="form-control" min="1" max="@ViewBag.MaxRows" />
                <span asp-validation-for="Row" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Column" class="control-label"></label>
                <input asp-for="Column" class="form-control" min="1" max="@ViewBag.MaxColumns" />
                <span asp-validation-for="Column" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Passport" class="control-label"></label>
                <input asp-for="Passport" class="form-control" />
                <span asp-validation-for="Passport" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PricePaid" class="control-label"></label>
                <input asp-for="PricePaid" class="form-control" readonly/> 
                <!--Making it readonly so the user cannot alter the price-->
                <span asp-validation-for="PricePaid" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="FlightIdFK"/>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    @Html.ActionLink("Return to list", "ListFlights")
</div>

